@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans';
  background: #ece6d9;
}

@font-face {
  font-family: HyliaSerif;
  src: url("HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
  font-family: RobotoMono-Bold;
  src: url(RobotoMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: RobotoMono-Medium;
  src: url(RobotoMono-Medium.ttf) format("truetype");
}

h1 {
  font-family: RobotoMono-Medium;
  letter-spacing: 4px;
}